.todo-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.title {
  text-align: left;
  border: 1px solid #000;
  border-width: 0 0 2px;
  padding-bottom: 10px;
  width: 30vw;
  text-transform: uppercase;
}

.input-field {
  width: 24vw;
  height: 10px;
  font-size: 0.875rem;
  border: 1px solid #d3d3d3;
  margin-right: 16px;
  padding: 10px;
  border-radius: 4px;
}

.edit-input-field {
  width: 16vw;
  height: 10px;
  font-size: 0.875rem;
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 4px;
}

.todo-checkbox {
  margin-right: 12px;
  margin: 10px;
}

.todo-add-action, .todo-item-action {
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  color: #6f7c87;
}

.input-field:focus, .todo-item-action:focus, .edit-input-field:focus, .todo-add-action:focus {
  outline: none;
}

.todo-list {
  width: 30vw;
}

.error {
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: 5% 65% 30%;
  grid-gap: 10px;
  border: 1px solid #d3d3d3;
  border-width: 0 0 1px;
}

.box {
  margin: 10px 0;
}

.item {
  margin: 6px;
}

.isComplete {
  text-decoration: line-through;
  color: #6f7c87;
}

@media screen and (max-width: 750px) {
  .title {
    width: 80vw;
  }
  
  .input-field {
    width: 60vw;
  }

  .todo-list {
    width: 75vw;
  }

  .edit-input-field {
    width: 40vw;
  }
}
